version: '3.8'

services:
  my-app:
    image: solomenko/my-new-project:latest
    container_name: my-new-project
    restart: unless-stopped
    ports:
      - "3000:3000"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --interval 30
      - --cleanup
      - --label-enable
    environment:
      - TZ=Europe/Moscow
